@import '../../www/definitions.scss';

.diagonal {
  stroke: $colorGrey;
  stroke-width: 2;
  opacity: .2;
}
.axis-label {
  font-size: $fontSizeSemiSmall;
}
.data-tooltip .date {
  display: inline-block;
  width: 6em;
}
.brush .selection {
  fill: $colorPrimaryDark;
}
