$colorPrimaryDark: #4682b4;
$colorPrimaryDarkText: $colorPrimaryDark;
$colorPrimaryLight: #a3c2db;
$colorPrimaryLightText: #7eaacd;

$colorGreyDark: #333;
$colorGrey: #666;
$colorGreySemiLight: #999;
$colorGreyLight: #ccc;
$colorGreyVeryLight: #eee;
$colorGreyVeryVeryLight: #f6f6f6;

$textColor: $colorGreyDark;
$textColorSemiLight: $colorGrey;
$textColorLight: $colorGreySemiLight;
$textColorVeryLight: $colorGreyLight;

$colorDataTooltip: #ffffa3;
$colorDataTooltipBorder: #ffecb3;

$fontFamily: 'Helvetica Neue', Helvetica, sans-serif;
$fontFamilyAlternative: 'Playfair Display', serif;

$fontSizeLarge: 16px;
$fontSize: 13px;
$fontSizeSemiSmall: 12px;
$fontSizeSmall: 10px;
