html, body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  position: relative;
  z-index: 1000;
  text-align: center;
  font-size: 25px;
  color: #ccc;
}
h1 em {
  color: #999;
}
#svg {
  position: absolute;
  left: 50%;
  top: 50%;
}
#svg svg {
  overflow: visible;
}
#timeslider {
  position: absolute;
  left: 50%;
  bottom: 10px;
}
