@import '../www/definitions.scss';

html, body {
  font-family: $fontFamily;
  padding: 0;
  margin: 0;
  color: $textColor;
}
h1 {
  position: relative;
  z-index: 1000;
  text-align: center;
  font-size: 25px;
  color: $textColorLight;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamilyAlternative;
}
body > h1, body > h2, body > h3, body > h4, body > h5, body > h6 {
  text-shadow: $whiteShadow;
}
h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter {
  text-transform: uppercase;
}
a {
  color: $textColor;
  text-decoration: underline;
}
/** LOGO **/
.logo {
  text-shadow: none;
}
.logo:first-child {
  width: 0;
  display: inline-block;
  text-shadow: $whiteShadow;
}
.logo-first {
  font-size: 100%;
  font-weight: 500;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: $colorGreyLight;
}
.logo-second {
  font-size: 110%;
  font-family: 'Waiting for the Sunrise', cursive;
  color: $colorPrimaryDark;
}
/** INDEX PAGE **/
.h1-logo {
  text-align: center;
  font-size: 60px;
  margin-top: 120px;
  margin-bottom: -30px;
  letter-spacing: -2px;
}
.h1-text {
  @extend h1;
  font-size: 30px;
  margin-bottom: 40px;
}
body.index {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  .description {
    width: 770px;
    margin: 40px auto 20px auto;
    text-align: center;
    font-style: italic;
      ul {
        list-style-type: none;
      }
  }
  .comments {
    width: 760px;
    margin: 20px auto;
    text-align: center;
    font-size: $fontSizeSemiSmall;
    font-weight: 300;
    color: $textColorLight;
    a {
      color: $textColorLight;
    }
  }
}
.previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 60px 0;
  a {
    width: 180px;
    height: 220px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16);
    text-decoration: none;
    text-align: center;
    color: $textColorLight;
    font-size: 12px;
    span {
      display: block;
      width: 180px;
      height: 180px;
      overflow: hidden;
      margin-bottom: 13px;
    }
    img {
      width: 100%;
      height: 100%;
      transition: transform .8s ease-in-out;
    }
    img:hover {
      transform: scale(1.2);
    }
  }
}
/** SVG **/
.svg svg {
  overflow: visible;
}
.svg.hasCaption {
  padding-bottom: 30px!important;
}
.svg h3 {
  position: absolute;
  bottom: -40px;
  left: 0;
  padding: 10px;
  .subcaption {
    display: block;
    margin-top: -1px;
    font-size: $fontSizeSemiSmall;
    font-family: $fontFamily;
    font-weight: 300;
    color: $textColorLight;
  }
}
body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  .svg {
    position: absolute;
  }
}
body.scrolling {
  margin-top: 100px;
  .svg {
    position: relative;
    margin: 20px auto 100px auto;
  }
  h1 {
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0;
    padding-bottom: 10px;
    background: $colorTranslucentBackground;
  }
}
/** TIME SLIDER **/
#timeslider {
  position: absolute;
  z-index: 1000;
  left: 50%;
  bottom: 6px;
  padding: 0 12px 6px 12px;
  background: $colorTranslucentBackground;
  .irs.js-irs-0 {
    margin-top: -12px;
  }
  .timesliderLabelDefault {
    position: absolute;
    top: -14px;
    padding: 6px 0;
  }
  .timesliderLabelTextDefault {
    font-size: $fontSizeSmall;
    color: $textColorLight;
  }
  .timesliderLabel {
    @extend .timesliderLabelDefault;
    @extend .timesliderLabelTextDefault;
    text-align: center;
    width: 100%;
    left: 0;
  }
  .timesliderLabelLeft {
    @extend .timesliderLabelDefault;
    @extend .timesliderLabelTextDefault;
    left: 12px;
  }
  .timesliderPlaying {
    @extend .timesliderLabelDefault;
    right: 12px;
    font-size: $fontSizeSmall;
    color: $colorPrimaryLightText;
    cursor: pointer;
  }
}
/** DATA TOOLTIP **/
.data-tooltip {
  position: absolute;
  display: block;
  z-index: 1000;
  padding: 5px 9px;
  background: $colorDataTooltip;
  border: 1px solid $colorDataTooltipBorder;
  border-radius: 5px;
  font-size: $fontSize;
  color: $textColor;
  pointer-events: none;
  h3 {
    font-family: $fontFamily;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: center;
  }
  h3, h3:first-letter {
    text-transform: none!important;
  }
}
/** PAGE **/
.back {
  position: fixed;
  display: block;
  z-index: 2000;
  left: 18px;
  top: 18px;
  text-decoration: none;
  color: $colorPrimaryLightText;
  text-shadow: $whiteShadow;
}
.qtip-info {
  border: 1px solid $colorDataTooltipBorder!important;
  background-color: $colorDataTooltip!important;
  font-size: $fontSize;
  color: $textColor;
}
.overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: .6;
}
$infoSymbolSize: 16px;
$infoButtonPaddingSize: 8px;
$infoButtonBorderWidth: 1px;
$infoTransitionDuration: .2s;
.info {
  position: fixed;
  z-index: 10000;
  top: 20px;
  right: 20px;
  width: $infoSymbolSize;
  height: $infoSymbolSize;
  border-radius: ($infoSymbolSize + 2 * $infoButtonPaddingSize + 2 * $infoButtonBorderWidth) / 2;
  padding: $infoButtonPaddingSize;
  background-color: $colorGreyVeryVeryLight;
  border: $infoButtonBorderWidth solid $colorGreyLight;
  cursor: pointer;
  box-shadow: $whiteShadow;
  transition: background-color (2 * $infoTransitionDuration), border (2 * $infoTransitionDuration), $infoTransitionDuration width $infoTransitionDuration, $infoTransitionDuration height $infoTransitionDuration, $infoTransitionDuration border-radius $infoTransitionDuration, box-shadow (2 * $infoTransitionDuration);
  transition-timing-function: ease-in-out;
}
.info.info-show {
  @extend .qtip-info;
  width: 360px;
  height: 80vh;
  border-radius: 7px;
  cursor: default;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
  transition: background-color (2 * $infoTransitionDuration), border (2 * $infoTransitionDuration), width $infoTransitionDuration, height $infoTransitionDuration, border-radius $infoTransitionDuration, box-shadow (2 * $infoTransitionDuration);
}
.info-close {
  position: absolute;
  opacity: 0;
  height: 0;
  top: 0;
  right: 5px;
  padding: 4px;
  color: $textColorLight;
  cursor: pointer;
  font-size: $fontSize;
  transition: opacity $infoTransitionDuration;
}
.info-show .info-close {
  opacity: 1;
  transition: (2 * $infoTransitionDuration) opacity $infoTransitionDuration;
}
.info-symbol {
  display: block;
  opacity: 1;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  margin-bottom: 1px;
  font-size: $infoSymbolSize;
  text-align: center;
  color: $textColorSemiLight;
  transition: (2 * $infoTransitionDuration) opacity $infoTransitionDuration;
}
.info-show .info-symbol {
  opacity: 0;
  transition: opacity $infoTransitionDuration;
}
.info-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  opacity: 0;
  margin: 6px 10px;
  font-size: $fontSize;
  color: $textColor;
  overflow-y: auto;
  transition: opacity $infoTransitionDuration;
  transition-timing-function: ease-in-out;
}
.info-show .info-content {
  opacity: 1;
  transition: $infoTransitionDuration opacity $infoTransitionDuration;
}
.info-content {
  h3 {
    font-family: $fontFamily;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
  }
  .info-bottom {
    margin-top: auto;
  }
  dt {
    font-weight: 700;
  }
  dd {
    margin: 0;
    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      li {
        margin-bottom: 2px;
      }
    }
    ul.multirow li {
      display: inline-block;
      width: 33.3333%;
    }
  }
  .info-small {
    font-size: $fontSizeSmall;
  }
  .data-description {
  }
  .data-timestamp {
    color: $textColorSemiLight;
  }
  .data-second,
  .data-second * a {
    font-style: italic;
  }
  .data-second {
    display: block;
    padding-left: 10px;
  }
  .data-timestamp {
    display: block;
    float: right;
  }
}
/* OPTIONS PANEL */
.panel {
  position: absolute;
  bottom: 90px;
  left: 30px;
  width: 170px;
  z-index: 1000;
  background: $colorTranslucentBackground;
  box-shadow: $whiteShadow;
  font-size: $fontSize;
  hr {
    border: 1px solid $colorGreyVeryLight;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  label {
    display: block;
    padding-left: 22px;
    text-indent: -22px;
  }
  input {
    position: relative;
    bottom: 1px;
    margin-right: 8px;
    margin-bottom: 5px;
  }
  select {
    width: 100%;
    margin-bottom: 5px;
  }
  checkbox {
    margin-bottom: 5px;
  }
  .gap {
    height: 5px;
    margin: 0;
    padding: 0;
  }
}

/* TIMELINE YEARS */
#timeslider {
  box-shadow: $whiteShadow;
}
.timelineYears-month {
  fill: none;
  stroke: $colorGreyVeryLight;
  stroke-width: 3px;
}
.timelineYears-day {
  stroke: $colorGreyVeryLight;
  stroke-width: 1px;
}
.timelineYears-day1 {
  fill: #fff;
}
.timelineYears-day2 {
  fill: $colorGreyVeryLight;
}
.timelineYears-labelMonth {
  font-size: $fontSizeSmall;
  fill: $textColorVeryLight;
}
.timelineYears-labelYear {
  font-size: $fontSizeSemiSmall;
  fill: $textColorLight;
}
.timelineYears-legend {
  position: absolute;
  top: 160px;
  left: 30px;
  svg {
    overflow: visible;
  }
  .timelineYears-lower,
  .timelineYears-upper {
    font-size: $fontSizeSemiSmall;
    fill: $textColor;
  }
}

/* MAPS */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.leaflet-container {
  background-color: #fff;
  .leaflet-control-attribution {
    background: none;
    font-size: $fontSizeSmall;
    font-weight: 300;
    margin-bottom: -3px;
  }
}
