@import '../../www/definitions.scss';

$svgMarginTop: -36px;
$h1Width: 200px;
$h1Height: 100px;
h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 100px;
  margin-left: -$h1Width / 2;
  margin-top: -$h1Height / 2 + $svgMarginTop - 12px;
}
.svg {
  margin-top: $svgMarginTop;
}
.node {
  circle {
    fill: $colorPrimaryDark;
    pointer-events: all;
  }
  text {
    font-size: $fontSizeSmall;
    pointer-events: all;
  }
}
.node-internal {
  circle {
    fill: #fff;
    stroke: $colorPrimaryDark;
    stroke-width: 1.5px;
  }
  text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
  }
}
.edge {
  fill: none;
  stroke: $colorGreySemiLight;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}
.svg-hover {
  .node {
    circle.background,
    text {
      stroke: #fff;
      stroke-width: 6px;
      stroke-linejoin: round;
      paint-order: stroke;
    }
    text {
      font-size: $fontSizeLarge;
      fill: black;
    }
  }
  .edge {
    stroke: $colorPrimaryDark;
    stroke-width: 3px;
  }
}
